<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>weahiughuhfua aijhuihgiukga hjjaegiajfiahgggagh</p>
        <p>uihgariugwfbghiluafe ahgiugaiwulbjh wahbgiuawhfwaiuhvaik</p>
        <p>fhbaikfbesaufvgaweiufgaweugvbwaejbwaigvrehjgbeiaugweukfgawkuygvberukgvaweuk</p>
        <p>gauguaguyagfuwye fvauyyguf gayfgb awjfhawiaefbaiughuifa</p>
    </div>


    <%- include('./partials/footer.ejs') %>
</body>
</html>